<template>
  <v-container
    fluid
    grid-list-xl
  >
    <v-layout
      row
      wrap
      fill-height
      justify-center
    >
      <v-flex xs12>
        <v-card>
          <v-flex xs12>
            <v-autocomplete
              v-model="getCities"
              required
              :loading="isLoading"
              :search-input.sync="searchCities"
              :items="items"
              label="Villes"
              cache-items
              hide-no-data
              hide-selected
              multiple
              chips
              color="red"
              item-text="Display"
              placeholder="Sélectionner une ville"
              return-object
            />
            <v-combobox
              v-model="select"
              required
              :items="typebiens"
              item-text="text"
              item-value="value"
              label="Type de bien"
              multiple
              chips
              auto-select-first
              autocomplete
              return-object
              color="red"
            >
              <template v-slot:selection="data">
                <v-chip
                  :key="JSON.stringify(data.item)"
                  :selected="data.selected"
                  :disabled="data.disabled"
                  close
                  color="orange lighten-3"
                  class="v-chip--select-multi"
                  @input="data.parent.selectItem(data.item)"
                >
                  <v-avatar
                    class="orange darken-3 white--text"
                    v-text="data.item.text.slice(0, 1).toUpperCase()"
                  />
                  {{ data.item.text }}
                </v-chip>
              </template>
            </v-combobox>
            <v-radio-group
              v-model="idtt"
              :mandatory="false"
              row
              @change="priceReset"
            >
              <v-radio
                label="Location"
                :value="1"
              />
              <v-radio
                label="Achat"
                :value="2"
              />
            </v-radio-group>
            <v-container
              fluid
              grid-list-lg
            >
              <v-layout
                row
                wrap
              >
                <v-flex
                  shrink
                  style="width: 150px"
                >
                  <v-text-field
                    v-model="price[0]"
                    class="mt-0"
                    hide-details
                    single-line
                    type="number"
                  />
                </v-flex>

                <v-flex v-if="idtt==1">
                  <v-range-slider
                    v-model="price"
                    :max="30000"
                    :min="20"
                    :step="20"
                  />
                </v-flex>
                <v-flex v-if="idtt==2">
                  <v-range-slider
                    v-model="price"
                    :max="15000000"
                    :min="10000"
                    :step="10000"
                  />
                </v-flex>

                <v-flex
                  shrink
                  style="width: 150px"
                >
                  <v-text-field
                    v-model="price[1]"
                    class="mt-0"
                    hide-details
                    single-line
                    type="number"
                  />
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
          <v-btn
            color="orange darken-2"
            class="white--text"
            :loading="isFetching&&!isLoadedAnnonce"
            @click="manualSearch"
          >
            Recherche manuelle
          </v-btn>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- ANNONCES -->
    <v-layout
      v-if="isLoadedAnnonce"
      row
      wrap
      fill-height
    >
      <!-- POUR CHAQUE ANNONCE -->
      <v-flex
        v-for="annonce in filteredAnnonce"
        id="annoncesShower"
        :key="annonce.idAnnonce"
        d-flex
        xs12
        sm6
        md4
      >
        <!-- CARD ANNONCE -->
        <v-card>
          <!-- GESTION PHOTOS -->
          <div
            v-for="(photos, index) in annonce.photos"
            :key="index"
          >
            <div v-if="Array.isArray(photos)">
              <v-carousel>
                <v-carousel-item
                  v-for="photo in photos"
                  :key="photo.ordre"
                  :src="photo.stdUrl"
                  max="400"
                />
              </v-carousel>
            </div>
            <div v-else>
              <v-carousel>
                <v-carousel-item
                  :src="todo.stdUrl"
                  max="250"
                />
              </v-carousel>
            </div>
          </div>
          <!-- FIN GESTION PHOTOS -->
          <v-container
            grid-list-md
            text-xs-left
          >
            <v-layout
              row
              wrap
              fill-height
            >
              <span class="headline">{{ annonce.titre }} </span><br>
              <v-expansion-panel :popout="false">
                <v-expansion-panel-content>
                  <template v-slot:header>
                    <div>Description</div>
                  </template>
                  <v-card>
                    <v-card-text
                      grey
                      lighten-3
                    >
                      {{ annonce.descriptif }}
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-flex xs6>
                <v-card-text>
                  <div>
                    <span>Ville: {{ annonce.ville }}</span><br>
                    <span>Prix: {{ annonce.prix }} {{ annonce.prixUnite }}</span><br>
                    <span v-if="annonce.proximite">Proximité : {{ annonce.proximite }} </span>
                  </div>
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text xs6>
                  <span>Nombre de pièces:{{ annonce.nbPiece }}</span><br>
                  <span>Surface: {{ annonce.surface }} {{ annonce.surfaceUnite }}</span><br>
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-container>
          <div>
            <span>{{ annonce.prixMention }} </span>
          </div>
          <v-card-actions justify-end>
            <v-btn
              flat
              color="orange"
            >
              Partager
            </v-btn>
            <v-btn
              flat
              color="orange"
            >
              Visiter en ligne
            </v-btn>
          </v-card-actions>
        </v-card>
        <!-- FIN ANNONCE -->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import parser from 'fast-xml-parser'
import he from 'he'
import fetch from 'node-fetch'

export default {
  data: () => ({
    searchCities: null,
    annonces: "",
    idAnnonceStart: 0,
    idAnnonceEnd: 14,
    isFetching: false,
    isLoading: false,
    citiesRequest: [],
    getCities: [],
    // Variables de searchAPI
    price: [0, 2000],
    idtt: 1,
    naturebien: [1, 2, 4],
    select: [{ text: "Appartement", value: 1 }, { text: "Maison / Villa", value: 2 }], // Valeurs par défaut
    typebiens: [
      { text: "Appartement", value: 1 },
      { text: "Maison / Villa", value: 2 },
      { text: "Parking / Box", value: 3 },
      { text: "Terrain", value: 4 },
      { text: "Boutique", value: 6 },
      { text: "Local Commercial", value: 7 },
      { text: "Bureaux", value: 8 },
      { text: "Loft / Atelier / Surface", value: 9 },
      { text: "Immeuble", value: 11 },
      { text: "Batiment", value: 12 },
      { text: "Chateau", value: 13 },
      { text: "Hotel particulier", value: 14 },
      { text: "Programme", value: 15 }
    ]
  }),
  computed: {
    cp () {
      return this.getCities.filter(city => city.Params.hasOwnProperty("cp")).map(city => {
        return city.Params.cp
      })
    },
    ci () {
      return this.getCities.filter(city => city.Params.hasOwnProperty("ci")).map(city => {
        return city.Params.ci
      })
    },
    idq (){
      return this.getCities.filter(city => city.Params.hasOwnProperty("idq")).map(city => {
        return city.Params.idq
      })
    },
    items () {
      return this.citiesRequest.map(entry => {
        return entry
      })
    },
    typebien () {
      let new_typebien = []
      this.select.forEach(element => {
        new_typebien.push(element.value)
      })
      return new_typebien
    },
    // Méthode de filtre des annonces par interval
    filteredAnnonce () {
      if (this.annonces && this.annonces.hasOwnProperty('annonce')) {
        return this.annonces.annonce.filter((ann, idx) => {
          if (idx >= this.idAnnonceStart && idx <= this.idAnnonceEnd)
            return ann
        })
      }

      return []
    },
    // Méthode pour vérifier le bon chargement des annonces
    isLoadedAnnonce () {
      if (!this.isFetching && this.annonces && this.annonces != "" && this.annonces.hasOwnProperty('annonce'))
        return true
      return false
    },
  },
  watch: {
    searchCities (val) {
      if (!val) return
      this.isLoading = true
      fetch("https://autocomplete.svc.groupe-seloger.com/api/v2.0/auto/complete/fra/63/10/8/SeLoger?text=" + val)
        .then(response => {
          if (response.status !== 200) {
            console.log('Looks like there was a problem. Status Code: ' + response.status)
            return
          }
          // Examine the text in the response
          response.json().then(data => {
            return this.citiesRequest = data
          })
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
      this.valid = true
    },
  },
  mounted () { },
  methods: {
    priceReset () {
      if (this.idtt == 1)
        this.price = [0, 2000]
      else
        this.price = [10000, 100000]
    },
    manualSearch () {
      //this.seLogerSearch([1, 2], 0, 1500, 1, [1, 2, 4], 75009)
      this.seLogerSearch(this.typebien, this.price[0], this.price[1], this.idtt, this.naturebien, this.cp, this.ci,this.idq)
    },
    // Méthode de recherche de bien
    async seLogerSearch (typebien, pxmin, pxmax, idtt, naturebien, cp, ci,idq) {
      // Déclaration des variables / constantes
      const baseSearchUrl = "ws.seloger.com/search.xml?"
      const optionsSearch = [
        "idtypebien=" + (typebien ? typebien.join(",") : ""),
        "pxMax=" + (pxmax ? pxmax : ""),
        "pMin=" + (pxmin ? pxmin : ""),
        "idtt=" + (idtt ? idtt : ""),
        "naturebien=" + (naturebien ? naturebien.join(",") : ""),
        "cp=" + (cp ? cp.join(",") : ""),
        "ci=" + (ci ? ci.join(",") : ""),
        "idq=" + (idq ? idq.join(",") : "")
      ]
      const query = baseSearchUrl + optionsSearch.join("&")

      // Activation du statut du fetching 
      this.isFetching = true
      // Récupération des données de recherches
      this.annonces = (await this.seLogerSearchAux(query)).recherche.annonces
      // Désactivation du statut du fetching 
      this.isFetching = false
    },

    // Méthode recursive de récupération des données de recherche par API 
    async seLogerSearchAux (query) {
      // Option parser XML
      const options = {
        attributeNamePrefix: "@_",
        attrNodeName: "attr",
        textNodeName: "#text",
        ignoreAttributes: true,
        ignoreNameSpace: false,
        allowBooleanAttributes: false,
        parseNodeValue: true,
        parseAttributeValue: false,
        trimValues: true,
        cdataTagName: "__cdata",
        cdataPositionChar: "\\c",
        localeRange: "",
        parseTrueNumberOnly: false,
        attrValueProcessor: a => he.decode(a, { isAttributeValue: true }),
        tagValueProcessor: a => he.decode(a)
      }
      // Log de la query 
      console.log(query)
      try {
        // Requête API
        const response = await fetch("https://cors-anywhere.herokuapp.com/" + query)
        // Vérification 
        if (!response.ok)
          throw new Error(response.statusText)
        else {
          // Récupération du texte du body 
          const xmlData = await response.text()
          // Vérification si possible de parse XML
          if (parser.validate(xmlData) === true) {
            // Parsing XML
            const info = await parser.parse(xmlData, options)
            console.log("Page courante:" + info.recherche.pageCourante)
            // Vérificaiton si existant et si page suivante existante 
            if (info) {
              if (info.recherche.pageSuivante && info.recherche.pageSuivante != "") {
                // Récupération des annonces des autres page par récursivité
                let next = await this.seLogerSearchAux(info.recherche.pageSuivante)
                if (next.recherche.annonces) {
                  if (next.recherche.annonces.annonce)
                    info.recherche.annonces.annonce.push(next.recherche.annonces.annonce)

                }
              }
              console.log("Nombre d'annonces: " + Object.keys(info.recherche.annonces.annonce).length)
              return info
            }
          }
        }
        throw new Error("Aucune donnée à parser")
      } catch (err) {
        console.log(err)
        return null
      }
    }
  }
}
</script>
