<template>
  <v-content>
    <section>
      <v-parallax
        :src="require('@/assets/paradise2.jpg')"
        height="500"
      >
        <v-layout
          column
          align-center
          justify-center
          class="white--text"
        >
          <h1 class="white--text mb-2 display-1 text-xs-center font-weight-black font-italic">
            HeavenFinder
          </h1>
          <img
            :src="require('@/assets/palmtree.png')"
            alt="LOGO"
            height="200"
          >

          <div class="white--text darken--4 font-weight-black font-italic subheading mb-3 text-xs-center">
            Projet ENSIIE - IA
          </div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-layout
        column
        wrap
        class="my-5"
        align-center
      >
        <v-flex
          xs12
          sm4
          class="my-3"
        >
          <div class="text-xs-center">
            <h2 class="headline">
              Le meilleur moyen de trouver son coin de paradis, c'est par ici.
            </h2>
            <span class="subheading">
              Graĉe à notre application de recherche avancée de logement, vous parviendrez faciliement à trouver votre bonheur.
            </span>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout
              row
              wrap
              align-center
            >
              <v-flex
                xs12
                md4
              >
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon
                      x-large
                      class="amber--text text--darken-4"
                    >
                      map my_location departure_board
                    </v-icon>
                  </v-card-text>
                  <v-card-title
                    primary-title
                    class="layout justify-center"
                  >
                    <div class="headline text-xs-center">
                      Carte des villes par temps de trajet souhaitée
                    </div>
                  </v-card-title>
                  <v-card-text>
                    Comment trouver un bon logement, mais à une limite de temps raisonnable de mon lieu de travail, ou de ma salle de gym préférée.
                    <strong>Une seule réponse: HeavenFinder</strong>.
                    Graĉe à notre solution, donnez votre destination finale, et le temps de trajet maximum souhaitée pour atteindre votre destination. Nous recherchons les viles qui répondront au mieux à vos exigences.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex
                xs12
                md4
              >
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon
                      x-large
                      class="amber--text text--darken-4"
                    >
                      search flash_on
                    </v-icon>
                  </v-card-text>
                  <v-card-title
                    primary-title
                    class="layout justify-center"
                  >
                    <div class="headline text-xs-center">
                      Multi-scrapping des annonces immobilières
                    </div>
                  </v-card-title>
                  <v-card-text>
                    Nous passons par l'API du site 'Scrap'Immo' permettant d'effectuer une recherche
                    sur différentes plateformes immobilières à la fois. 
                    Grâce à la soumission d'un simple formulaire de critères, 
                    chaque plateforme est requêtée selon les paramètres spécifiés 
                    Ceci permet de gagner beaucoup de temps sur la recherche.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex
                xs12
                md4
              >
                <v-card class="elevation-0 transparent">
                  <v-card-text class="text-xs-center">
                    <v-icon
                      x-large
                      class="amber--text text--darken-4 text--lighten-2"
                    >
                      record_voice_over memory
                    </v-icon>
                  </v-card-text>
                  <v-card-title
                    primary-title
                    class="layout justify-center"
                  >
                    <div class="headline text-xs-center">
                      Natural Language Processing : TF-IDF
                    </div>
                  </v-card-title>
                  <v-card-text>
                    Pour aller encore + loin et donner la possibilité d'effectuer des recherches encore plus ciblées, 
                    nous utilisons du <strong> Natural Language Processing </strong>.
                    L'utilisateur saisie un souhait particulier de recherche, puis nous effectuons plusieurs analyses clées sur les annonces:
                    LowerCasing, Tokenisation, Lemmatisation , Filtre, TF-IDF , Sorting
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>

    <section>
      <v-parallax
        :src="require('@/assets/paradise1.jpg')"
        height="380"
      >
        <v-layout
          column
          align-center
          justify-center
        >
          <div class="headline white--text mb-3 text-xs-center">
            Commencez dès à présent l'expérience, et recherchez votre paradis.
          </div>
          <em>"Make your dream come true"</em>
          <v-btn
            class="amber darken-2 mt-5"
            dark
            large
            to="/app"
          >
            Trouvez mon paradis
          </v-btn>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-container grid-list-xl>
        <v-layout
          row
          wrap
          justify-center
          class="my-5"
        >
          <v-flex
            xs12
            sm4
          >
            <v-card class="elevation-0 transparent">
              <v-card-title
                primary-title
                class="layout justify-center"
              >
                <div class="headline">
                  Projet IA
                </div>
              </v-card-title>
              <v-card-text>
                Projet de l'école ENSIIE pour le cours d'Intelligence Artificielle. <br>
                <b>Elaboration du projet par:
                  <ul>
                    <li> GRIMALDI Xavier </li>
                    <li> DE SOUSA Emilio</li>
                  </ul>
                </b>
                Juin 2019
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex
            xs12
            sm4
            offset-sm1
          >
            <v-card class="elevation-0 transparent">
              <v-card-title
                primary-title
                class="layout justify-center"
              >
                <div class="headline">
                  Nous contacter
                </div>
              </v-card-title>
              <v-card-text>
                Retrouver notre projet:
              </v-card-text>
              <v-list class="transparent">
                <v-list-tile>
                  <v-list-tile-action>
                    <i
                      class="fab fa-gitlab fa-2x"
                    />
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title><a href="https://gitlab.com/Sphinx06/heavenfinder"> HeavenFinder</a></v-list-tile-title>
                    <v-list-tile-subtitle>Gitlab</v-list-tile-subtitle>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </v-content>
</template>
<script>
export default {
  data: () => ({
  }),
  methods: {
  }
}
</script>