<template>
  <div class="back">
    <AdsSearchForm @inputAds="updateAds" />
    <AdsList :annonces="ads" />
    {{ cities }}
  </div>
</template>

<script>
import AdsList from "../components/AdsList"
import AdsSearchForm from "../components/AdsSearchForm"


export default {
  components: {
    AdsList,
    AdsSearchForm
  },
  data: () => ({
    ads: null,
    cities: {}
  }),
  mounted () {
  },
  methods: {

    updateAds (searchedAds) {
      this.ads = searchedAds
    }
  }
}
</script>
<style>
.back {
  background-image: url("~@/assets/back.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
  background-attachment: fixed;
}
</style>