<template>
  <v-container
    fluid
    grid-list-xl
    fill-height
  >
    <v-layout
      row
      wrap
    >
      <v-flex
        d-flex
        xs12
        sm3
        md9
      >
        <v-card class="vld-parent">
          <loading
            :active.sync="loader"
            :is-full-page="false"
            style="z-index:1"
          />
          <div
            id="map"
            class="map "
          >
            <LMap
              style="height: 100%; width: 100%; position:absolute; z-index:0"
              :zoom="zoom"
              :center="center"
              :options="{ zoomControl: false }"
            >
              <l-geo-json
                :geojson="boundaries"
                :options="options(features)"
              />
              <LTileLayer :url="url" />
            </LMap>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios"
import tmp from '!raw-loader!../tmp.txt'
import tmp2 from '../assets/output.json'
import Loading from 'vue-loading-overlay'

import { LMap, LTileLayer, LPolygon, LGeoJson } from "vue2-leaflet"
import "leaflet/dist/leaflet.css"

export default {
components: {
    LMap,
    LTileLayer,
    LGeoJson,
    Loading
  },
  
  data: () => ({
    fullPage: false,
    defaultSelected: 'public_transport',
    appID: "6cc0a795",
    APIKey: "d5009c80dfc455d6ad5c29ae11cde801",
    model: null,
    valid: true,
    url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
    zoom: 8,
    center: [48.858705, 2.342865],
    valid: true,
    latLngMap: [],
    loader: false,
    loaders: true,
    testT: tmp,
    boundaries: tmp2.features,
    dataLat: [],
    postalCods: [],
    appID: "6cc0a795",
    APIKey: "d5009c80dfc455d6ad5c29ae11cde801",
    config: {},
    options: null,
    CP:["75012","75011"],
    city:["city","Paris","Bagnolet","Montreuil","Vincennes","Fontenay-sous-Bois","Nogent-sur-Marne","Champigny-sur-Marne","Joinville-le-Pont","Saint-Maurice","Charenton-le-Pont","Saint-Maur-des-Fossés","Créteil","Neuilly-Plaisance","Bry-sur-Marne","Noisy-le-Grand","Le Perreux-sur-Marne","Neuilly-sur-Marne"],
    latLng: [[0.52315,43.45799],[0.52316,43.46384],[0.52592,43.46672],[0.53468,43.46475],[0.54825,43.47277],[0.55202,43.47844],[0.55581,43.47359],[0.56743,43.47144],[0.56937,43.46462],[0.56751,43.45842],[0.55981,43.45772],[0.55182,43.46007],[0.55,43.4568],[0.55092,43.44921],[0.56019,43.44453],[0.56702,43.44343],[0.56455,43.43934],[0.5574,43.43661],[0.5468,43.44001],[0.54266,43.4403],[0.5376,43.44188],[0.52544,43.44844],[0.52319,43.45264],[0.52315,43.45799]],
    counts: {"75012":373,"75013":238,"75014":244,"75015":896,"75016":300,"75017":409,"75018":565,"75019":802,"75020":1024,"75116":315,"92000":290,"92110":58,"92120":192,"92130":84,"92160":100,"92170":32,"92200":435,"92240":30,"92270":100,"92300":418,"92330":52,"92340":168,"92400":291,"92600":219,"92700":150,"92800":255,"93100":143,"93120":210,"93160":28,"93200":306,"93210":156,"93260":95,"93300":166,"93310":9,"93330":17,"93350":36,"93360":67,"93380":70,"93400":75,"93450":5,"93500":292,"93700":143,"94110":295,"94120":345,"94130":68,"94160":43,"94170":30,"94200":313,"94220":81,"94230":96,"94250":109,"94270":117,"94300":146,"94360":98,"94400":143,"94800":418,"postalCode":1,"undefined":1}

  }),
  computed: {
  },
  watch: {
  },
  created () {

  },
  mounted () {
    console.log(this.CP)
  this.options= {filter: function (CP,feature) {
      console.log(this.dataLat=CP.includes(feature.properties.ID))
      return (feature.properties.ID=="75011" || feature.properties.LIB=="Vincennes" || feature.properties.LIB=="Saint-Mandé"  )  ? true : false
    }}


   },

  methods: {
    options (){
      return this.boundaries.filter(code => this.CP.includes(code.properties.ID))
    }
  }
}
</script>
<style>
@import "/src/assets/style.css";
</style>
  