<template>
  <v-container
    fluid
    grid-list-xl
    fill-height
  >
    <v-layout
      row
      wrap
    >
      <v-flex
        d-flex
        xs12
        sm3
        md9
      >
        <v-card class="vld-parent">
          <loading
            :active.sync="loader"
            :is-full-page="false"
            style="z-index:1"
          />
          <div
            id="map"
            class="map "
          >
            <LMap
              style="height: 100%; width: 100%; position:absolute; z-index:0"
              :zoom="zoom"
              :center="center"
              :options="{ zoomControl: false }"
            >
              <LPolygon
                v-if="mapTime"
                :lat-lngs="getLats"
                color="green"
              />
              <l-geo-json
                v-if="mapCP"
                :geojson="boundaries"
                :options="options"
              />
              <LTileLayer :url="url" />
            </LMap>
          </div>
        </v-card>
      </v-flex>
      <v-flex
        d-flex
        xs12
        sm6
        md3
      >
        <APIform
          :lat-lng-array="getLats"
          @actuMap="actuPos"
          @getLats="actuLat"
          @sendLoader="actuLoader"
          @getCP="setCP"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Loading from 'vue-loading-overlay'
import axios from "axios"
import { LMap, LTileLayer, LPolygon, LGeoJson } from "vue2-leaflet"
import "leaflet/dist/leaflet.css"
import APIform from "../components/APIform"
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  components: {
    LMap,
    LTileLayer,
    LPolygon,
    APIform,
    LGeoJson,
    Loading
  },
  data: () => ({
    fullPage: false,
    defaultSelected: 'public_transport',
    appID: "6cc0a795",
    APIKey: "d5009c80dfc455d6ad5c29ae11cde801",
    model: null,
    valid: true,
    url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
    zoom: 8,
    center: [48.858705, 2.342865],
    valid: true,
    latLngMap: [],
    loader: false,
    loaders: true,
    countsPostCods:{},
    minCount:null,
    maxCount:null,
    CP:[],
    boundaries:[],
    options:{},
    mapCP:false,
    mapTime:false

  }),
  computed: {
    getLats: function () {
      return this.latLngMap.map(entry => {
        return entry.shell.map(coords => {
          return [coords.lat, coords.lng]
        })
      })
    },
    items () {
      return this.geocodingRequest.map(entry => {
        return entry
      })
    }
  },
  watch: {
  },
  created () {
  },
  mounted () {  this.options['onEachFeature'] = this.onEachFeature  }
 
  ,

  methods: {
    actuPos (center, zoom) {
      this.latLngMap = []
      this.center = center
      this.zoom = 10
      this.mapTime=true
      this.mapCP=false
    },
    actuLoader (loader) {
      this.loader = loader
    },
    actuLat (latMap, loader) {

      this.latLngMap = latMap
      this.loader = loader
    },
    async setCP (countsPostCods,  minCount, maxCount, boundaries, CP, loader)
    {
      this.countsPostCods = countsPostCods
      this.minCount = minCount
      this.maxCount = maxCount
      this.boundaries=boundaries
      this.CP=CP
      this.mapTime=false
      this.mapCP=true
      this.loader = loader
    },
     async onEachFeature (feature, layer) {
      if(this.CP.includes(feature.properties.ID)){
        var hexColour = feature.properties.ID.toString(16)
        var c= this.normalize(this.countsPostCods[feature.properties.ID],this.maxCount,this.minCount)
          if(c==1){
            c = c-1
          }else {
            c=(c-1)*(-1)
          }
        var green = c*255
          var blue= c*255
          var red = 255
          var rgb = 'rgb('+red+','+green+','+blue+')'
        layer.setStyle({fillColor :rgb,"fillOpacity":0.7, "opacity": 0.65, "color": "#ff0000" })
      }
    },
    normalize (val, max, min) { 
      return (val - min) / (max - min)
    }
  }
}
</script>
<style>
@import "/src/assets/style.css";
</style>
  