<!-- ANNONCES -->
<template>
  <v-layout v-if="isLoadedAnnonce">
    <v-flex xs12>
      <v-container
        grid-list-sm
        fluid
      >
        <v-layout
          row
          wrap
        >
          <v-flex
            v-for="annonce in filteredAnnonce"
            id="annoncesShower"
            :key="annonce._id"
            xs6
            pa-3
            d-flex
          >
            <v-card
              flat
              tile
              d-flex
              min-height="100px"
            >
              <v-container
                fluid
                align-center
              >
                <v-layout
                  row
                  wrap
                  text-xs-center
                >
                  <v-card-text>
                    <a
                      :href="annonce.url"
                      target="_blank"
                    >{{ annonce.title }}</a>
                  </v-card-text>
                </v-layout>
                <v-layout
                  row
                  wrap
                >
                  <v-flex
                    align-center
                    pa-2
                    xs5
                    d-flex
                  >
                    <v-img
                      :src="getPicUrl(annonce)"
                      :lazy-src="getPicUrl(annonce)"
                      max-height="150px"
                      aspect-ratio="1"
                      style="border-radius: 5px;border:2px solid grey;"
                    >
                      <template v-slot:placeholder>
                        <v-layout
                          fill-height
                          align-center
                          justify-center
                          ma-0
                        >
                          <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                          />
                        </v-layout>
                      </template>
                    </v-img>
                  </v-flex>

                  <v-flex
                    xs7
                    d-flex
                  >
                    <div>
                      {{ annonce.description }}
                    </div>
                  </v-flex>
                </v-layout>
                <v-layout
                  mt-2
                  row
                  text-xs-center
                  align-end
                >
                  <v-flex
                    xs3
                    d-flex
                    style="border-top:5px solid black;border-radius:5px;border-right:3px solid black;"
                  >
                    <p>
                      <i 
                        style="font-size: 1.5rem;"
                        class="fas fa-city"
                      />
                      {{ annonce.city }}
                    </p>
                  </v-flex>
                  <v-flex
                    xs3
                    d-flex
                    style="border-radius:5px;border-top:5px solid black;border-right:3px solid black;"
                  >
                    <p>
                      <i
                        style="font-size: 1.5rem;"
                        class="far fa-money-bill-alt"
                      /> {{ annonce.price }} €
                    </p>
                  </v-flex>
                  <v-flex
                    xs3
                    d-flex
                    style="border-radius:5px;border-top:5px solid black;border-right:3px solid black;"
                  >
                    <p>
                      <i 
                        style="font-size: 1.5rem;"
                        class="fas fa-square-root-alt"
                      />
                      {{ annonce.square }} m²
                    </p>
                  </v-flex>
                  <v-flex
                    xs3
                    d-flex
                    style="border-radius:5px;border-top:5px solid black;"
                  >
                    <p>
                      <i 
                        style="font-size: 1.5rem;"
                        class="fas fa-door-open"
                      />
                      {{ annonce.rooms }}  pièces
                    </p>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import fetch from 'node-fetch'

export default {
  props: {
    annonces: {
      type: Array,
      default: null
    }
  }
  ,
  data: () => ({
    idAnnonceStart: 0,
    idAnnonceEnd: 50,
  }),
  computed: {
    // Méthode de filtre des annonces par interval
    filteredAnnonce () {
      if (this.annonces) {
        return this.annonces.filter((ann, idx) => {
          if (idx >= this.idAnnonceStart && idx <= this.idAnnonceEnd)
            return ann
        })
      }

      return []
    },
    // Méthode pour vérifier le bon chargement des annonces
    isLoadedAnnonce () {
      if (this.annonces && this.annonces != "")
        return true
      return false
    },
  },
  methods: {
    getPicUrl (annonce) {
      return annonce.pictureUrl || require('@/assets/nopic.jpg')
    }
  }
}


/*
OLD


  <v-container
    fluid
    grid-list-xl
  >
    <v-layout
      v-if="isLoadedAnnonce"
      row
      wrap
      fill-height
    >
      <!-- POUR CHAQUE ANNONCE -->
      <v-flex
        v-for="annonce in filteredAnnonce"
        id="annoncesShower"
        :key="annonce._id"
        d-flex
        xs12
        sm6
        md4
      >
        <!-- CARD ANNONCE -->
        <v-card>
          <!-- PHOTO -->
          <div>
            <v-img
              :src="getPicUrl(annonce)"
              :lazy-src="getPicUrl(annonce)"
              aspect-ratio="1"
              class="grey lighten-2"
              alt="Aperçu du bien"
              style="width:240px, height:180px;"
            />
          </div>
          <!-- FIN PHOTO -->
          <v-container
            grid-list-md
            text-xs-left
          >
            <v-layout
              row
              wrap
              fill-height
            >
              <span class="headline">{{ annonce.title }} </span><br>
              <v-expansion-panel :popout="false">
                <v-expansion-panel-content>
                  <template v-slot:header>
                    <div>Description</div>
                  </template>
                  <v-card>
                    <v-card-text
                      grey
                      lighten-3
                    >
                      {{ annonce.description }}
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-flex xs6>
                <v-card-text>
                  <div>
                    <span>Ville: {{ annonce.city }}</span><br>
                    <span>Prix: {{ annonce.price }} €</span><br>
                    <span v-if="annonce.origin">{{ annonce.origin }} </span>
                  </div>
                </v-card-text>
              </v-flex>
              <v-flex xs6>
                <v-card-text xs6>
                  <span>Nombre de pièces:{{ annonce.rooms }}</span><br>
                  <span>Surface: {{ annonce.square }} </span><br>
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-actions justify-end>
            <v-btn
              flat
              color="orange"
            >
              Partager
            </v-btn>
            <v-btn
              flat
              color="orange"
            >
              Visiter en ligne
            </v-btn>
          </v-card-actions>
        </v-card>
        <!-- FIN ANNONCE -->
      </v-flex>
    </v-layout>
  </v-container>




*/
</script>
