<template>
  <v-container
    fluid
    grid-list-xl
  >
    <v-layout
      row
      wrap
      fill-height
      justify-center
    >
      <v-flex xs7>
        <v-card>
          <v-flex xs12>
            <v-select
              v-if="getInfos"
              v-model="getAllCities"
              :items="getAllCities"
              attach
              chips
              label="Chips"
              multiple
            />
            <v-autocomplete
              v-model="getCities"
              :loading="isLoading"
              :search-input.sync="searchCities"
              :items="items"
              label="Villes"
              cache-items
              hide-no-data
              hide-selected
              multiple
              chips
              color="red"
              item-text="city"
              placeholder="Sélectionner une ville"
              return-object
              clearable
            />
            <v-layout
              row
              justify-center
              wrap
            >
              <v-flex xs6>
                <v-combobox
                  v-model="select"
                  required
                  :items="typebiens"
                  item-text="text"
                  item-value="value"
                  label="Type de bien"
                  multiple
                  chips
                  auto-select-first
                  autocomplete
                  return-object
                  color="red"
                >
                  <template v-slot:selection="data">
                    <v-chip
                      :key="JSON.stringify(data.item)"
                      :selected="data.selected"
                      :disabled="data.disabled"
                      close
                      color="orange lighten-3"
                      class="v-chip--select-multi"
                      @input="data.parent.selectItem(data.item)"
                    >
                      <v-avatar
                        class="orange darken-3 white--text"
                        v-text="data.item.text.slice(0, 1).toUpperCase()"
                      />
                      {{ data.item.text }}
                    </v-chip>
                  </template>
                </v-combobox>
              </v-flex>
              <v-flex xs6>
                <v-radio-group
                  v-model="typeAnnonce"
                  :mandatory="false"
                  row
                  @change="priceReset"
                >
                  <v-radio
                    label="Location"
                    value="rentals"
                  />
                  <v-radio
                    label="Achat"
                    value="sales"
                  />
                </v-radio-group>
              </v-flex>
            </v-layout>
            <v-container
              fluid
              grid-list-lg
            >
              <v-layout row>
                <v-flex
                  shrink
                  style="width: 150px"
                >
                  <v-text-field
                    v-model="price[0]"
                    class="mt-0"
                    hide-details
                    single-line
                    type="number"
                  />
                </v-flex>

                <v-flex v-if="typeAnnonce=='rentals'">
                  <v-range-slider
                    v-model="price"
                    :max="30000"
                    :min="20"
                    :step="20"
                  />
                </v-flex>
                <v-flex v-if="typeAnnonce=='sales'">
                  <v-range-slider
                    v-model="price"
                    :max="15000000"
                    :min="10000"
                    :step="10000"
                  />
                </v-flex>

                <v-flex
                  shrink
                  style="width: 150px"
                >
                  <v-text-field
                    v-model="price[1]"
                    class="mt-0"
                    hide-details
                    single-line
                    type="number"
                  />
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
          <v-flex text-xs-center>
            <v-btn
              style="width:auto"
              color="orange darken-2"
              :loading="isFetching"
              @click="manualSearch('')"
            >
              Recherche API
            </v-btn>
            <v-btn
              style="width:auto"
              color="orange darken-2"
              :loading="isFetching"
              @click="manualSearch('test')"
            >
              Recherche données TEST
            </v-btn>
          </v-flex>
        </v-card>
        <v-card>
          <v-flex>
            <v-text-field
              v-model="query"
              label="Souhaits"
              placeholder="Ecrivez votre voeux !"
            />
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import fetch from 'node-fetch'
import { EventBus } from '../event-bus.js'



export default {
  data: () => ({
    query: "",
    tempAds: "",
    tempAdsTFIDF: "",
    searchCities: null,
    isFetching: false,
    isLoading: false,
    citiesRequest: [],
    getCities: [],
    // Variables de searchAPI
    price: [0, 2000],
    typeAnnonce: "rentals",
    naturebien: [1, 2, 4],
    select: [{ text: "Appartement", value: "flat" }, { text: "Maison / Villa", value: "house" }], // Valeurs par défaut
    typebiens: [
      { text: "Appartement", value: "flat" },
      { text: "Maison / Villa", value: "house" },
    ],
    citiesCP: []
  }),
  computed: {
    getInfos () {

      if (this.$store.state.totalTvCount.length > 0) {
        return 1
      } else { return 0 }

    },
    getAllCities () {

      if (this.$store.state.totalTvCount.length > 0) {
        return this.$store.state.totalTvCount.map(entry => {
          if (entry.city == "Paris") {
            return entry.city + ' ' + entry.postalCode
          }
          return entry.city
        })
      } else { return [] }

    },
    items () {
      return this.citiesRequest.map(entry => {
        return entry.value
      })
    },
    typebien () {
      let new_typebien = []
      this.select.forEach(element => {
        new_typebien.push(element.value)
      })
      return new_typebien
    }
  },
  watch: {
    searchCities (val) {
      if (!val) return
      this.isLoading = true
      fetch("https://cors-anywhere.herokuapp.com/https://immo.cooya.fr/location?value=" + val)
        .then(response => {
          if (response.status !== 200) {
            console.log('Looks like there was a problem. Status Code: ' + response.status)
            return
          }
          // Examine the text in the response
          response.json().then(data => {
            return this.citiesRequest = data
          })
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
      this.valid = true
    },
  },
  mounted () {
    EventBus.$on('cities', (payload) => {
      this.updateData(payload)
    })
  },
  methods: {
    updateData (payload) {
      console.log('bla')
      this.citiesCP = payload

    },
    sortResults (json, prop, asc) {
      return json.sort(function (a, b) {
        if (asc) {
          return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0)
        } else {
          return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0)
        }
      })
    },
    priceReset () {
      if (this.typeAnnonce == "rentals")
        this.price = [0, 2000]
      else
        this.price = [10000, 100000]
    },
    manualSearch (mode) {
      if (this.getCities != 0) {
        this.ImmoApi(mode, this.typebien, this.price[0], this.price[1], this.typeAnnonce, this.naturebien, this.getCities)
      } else {
        this.ImmoApi(mode, this.typebien, this.price[0], this.price[1], this.typeAnnonce, this.naturebien, this.$store.state.totalTvCount)

      }
    },
    // Méthode de recherche de bien
    async ImmoApi (mode, typebien, pxmin, pxmax, typeAnnonce, naturebien, locations) {
      // Définition de l'url
      let url
      if (mode == "test")
        url = "http://localhost:4545/getAnnonces"
      else
        url = "https://cors-anywhere.herokuapp.com/https://immo.cooya.fr/query"

      let tb = [typeAnnonce]
      let surfaceMin = ""
      let surfaceMax = ""
      let sortBy = "date-desc"
      let roomsMin = ""
      let roomsMax = ""
      let priceMin = ""
      let priceMax = ""
      let page = 3
      let categories = typebien

      let post = {
        types: tb,
        categories: categories,
        locations: locations,
        surfaceMin: surfaceMin,
        sortBy: sortBy,
        roomsMin: roomsMin,
        roomsMax: roomsMax,
        priceMin: this.price[0],
        priceMax: this.price[1],
        page: page
      }

      // Récupération des données de recherches
      this.isFetching = true
      this.tempAds = (await this.ImmoApiAux(url, post)) // Récupération données
      this.tempAdsTFIDF = this.TFIDFOnAds(this.tempAds.ads) // Filtrage TFIDF
      this.isFetching = false
      // Envoi des données au component d'affichage d'annonce
      if (this.tempAdsTFIDF) {
        this.$emit("inputAds", this.tempAdsTFIDF)
      }
      this.tempAds = ""
      this.tempAdsTFIDF = ""
    },

    // Méthode recursive de récupération des données de recherche par API 
    async ImmoApiAux (query, post) {
      try {
        // Requête API
        const response = await fetch(query, {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json; charset=utf-8'
          },
          method: "POST",
          body: JSON.stringify(post)
        })
        // Vérification 
        if (!response.ok)
          throw new Error(response.statusText)
        else {
          // Récupération du texte du body 
          const data = await response.json()
          return data
        }
        throw new Error("Aucune donnée à parser")
      } catch (err) {
        console.log(err)
        return null
      }
    },
    TFIDFOnAds (ads) {
      if (this.query && this.query != "") {
        // Déclaration de l'instances
        const natural = require('natural')
        const NlpjsTFr = require('nlp-js-tools-french')
        const sw = require('stopword')
        const stopwords = require('../mystopwords').words
        var NGrams = natural.NGrams
        var TfIdf = natural.TfIdf
        var tfidf = new TfIdf()
        var config = {
          tagTypes: ['ver', 'nom', 'adj'],
          strictness: false,
          minimumLength: 3,
          debug: false
        }
        // Déclaration des variables
        let filterToRemove = ['appartement', 'maison']

        // #########################################
        // ETAPES DE GESTION TF-IDF DES ANNONCES
        // Iteration sur chaque annonce
        // 1. Lower Description Annonce
        // 2. Tokenisation description de l'annonce
        // 3. Lemmatization description de l'annonce
        // 4. Suppression des mots inutiles stopwords
        // 5. Bigramme pour association de mots
        // 6. Filtre supplémentaire 
        // 7. Ajout de l'annonce aux documents

        ads.forEach(annonce => {
          let tokensLemma = []
          let toRemoveinAds = ['sans', 'pas', 'aucun']
          // 1.
          let loweredDesc = annonce.description.toLowerCase()
          // 2.
          var nlpToolsFr = new NlpjsTFr(loweredDesc, config)
          // 3.
          let lemma = nlpToolsFr.lemmatizer()
          lemma.forEach(item => {
            if (!tokensLemma.includes(item.lemma))
              tokensLemma.push(item.lemma)
          })
          //4.
          let lemmaStop = sw.removeStopwords(tokensLemma, stopwords)
          let bigramme = NGrams.bigrams(lemmaStop)
          // 5. 
          bigramme.forEach(asso => {
            lemmaStop.push(asso.join(" "))
            if (toRemoveinAds.includes(asso[0])) {
              toRemoveinAds.push(asso[1])
            }
          })
          // 6.
          let finalAds = lemmaStop.filter(function (ele) {
            return (!toRemoveinAds.includes(ele) && ele !== "avec")
          })

          // 7.
          tfidf.addDocument(finalAds)
        })

        // #########################################
        // ETAPES DE GESTION DE LA REQUËTE
        // 1) Lower Query
        // 2) Tokenisation Query
        // 3) Filtrage des mots non souhaitées (redondant avec le filtrage de la recherche)
        // 4) Lemmatization Query
        // 5) Suppresion des mots inutiles:  stopwords
        // 6) Récupération des associations de mots et filtre sur mots
        // 7) Lancement du TFIDF
        // 8) Tri des résultats

        let toRemoveinQuery = ['sans', 'pas', 'aucun']
        let queryLemma = []
        // 1) Lower Query
        let lowQuery = this.query.toLowerCase()
        // 2) Tokenisation Query
        var nlpToolsFr = new NlpjsTFr(lowQuery, config)
        // 3) Filtrage des mots non souhaitées (redondant avec le filtrage de la recherche)
        // 4) Lemmatization Query
        let lemma = nlpToolsFr.lemmatizer()
        lemma.forEach(item => {
          if (!filterToRemove.includes(item.word))
            queryLemma.push(item.lemma)
        })
        // 5) Stopwords
        let queryLemmaStop = sw.removeStopwords(queryLemma, stopwords)
        // 6) Bigramme
        let bigramme = NGrams.bigrams(queryLemmaStop)
        bigramme.forEach(asso => {
          queryLemmaStop.push(asso.join(" "))
          if (toRemoveinQuery.includes(asso[0])) {
            toRemoveinQuery.push(asso[1])
          }
        })
        // 7) Filtre finale
        let finalQuery = queryLemmaStop.filter(function (ele) {
          return (!toRemoveinQuery.includes(ele) && ele !== "avec")
        })
        // 7) Lancement du TFIDF
        tfidf.tfidfs(finalQuery, function (i, measure) {
          ads[i]["measure"] = measure
        })
        // 8) Tri des annonces par rapport aux résultats
        return this.sortResults(ads, "measure", false)
      }
      else {
        return ads
      }
    }

  }
}
</script>
