<template>
  <v-card class="pa-4">
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-autocomplete
        v-model="getGeo"
        required
        solo
        :loading="isLoading"
        :search-input.sync="search"
        :items="items"
        label="test"
        hide-no-data
        no-filter
        clearable
        item-text="Name"
        placeholder="Lancer une recherche"
        return-object
      />
      <v-select
        v-model="defaultSelected"
        :items="transport"
        label="Solo field"
        solo
        class="mt-3"
        required
      />
      <v-slider
        v-model="time"
        :tick-labels="ticksLabels"
        :max="ticksLabels.length-1"
        step="1"
        ticks="always"
        tick-size="2"
      />

      <v-layout
        class="mt-5 "
        align-end
        justify-center
      >
        <v-btn
          :disabled="!valid"
          color="success"
          @click="validate"
        >
          Validate
        </v-btn>
        <v-btn
          :disabled="empty"
          color="primary"
          @click="findCities"
        >
          Find Cities
        </v-btn>
        <v-btn
          :disabled="empty"
          color="primary"
          @click="sendCities"
        >
          Send Cities
        </v-btn>
      </v-layout>
    </v-form>
  </v-card>
</template>

<script>
import axios from "axios"
import { LMap, LTileLayer, LPolygon } from "vue2-leaflet"
import "leaflet/dist/leaflet.css"
import geoJson from '../assets/output.json'
import { EventBus } from '../event-bus.js'



export default {
  components: {
  },
  props: {
    latLngArray: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data: () => ({

    res: null,
    config: [],
    cities: [],
    descriptionLimit: 25,
    defaultSelected: 'public_transport',
    appID: "6cc0a795",
    APIKey: "d5009c80dfc455d6ad5c29ae11cde801",
    model: null,
    valid: true,
    latMap: [],
    geocodingRequest: [],
    isLoading: false,
    search: null,
    getGeo: null,
    time: null,
    isSearching: false,
    empty: true,
    ticksLabels: [
      '15',
      '30',
      '45',
      '60',
      '75',
      '90'
    ],
    transport: [
      'public_transport',
      'cycling',
      'driving',
      'driving+train',
      'walking',
      'coach',
      'bus',
      'train',
      'ferry',
      'driving+ferry',
      'cycling+ferry'],
    lat: 48.858705,
    lng: 2.342865,
    dataRes: [],
    queryStatus: null,
    batchRes: [],
    postalCods: [],
    countsPostCods: {},
    cityName: [],
    CP: [],
    onlyCounts: [],
    minCount: [],
    maxCount: [],
    boundaries: geoJson.features,
    cityCP: {}
  }),
  computed: {
    items () {
      return this.geocodingRequest.map(entry => {
        const Name = entry.properties.name.length > this.descriptionLimit
          ? entry.properties.name.slice(0, this.descriptionLimit) + '...'
          : entry.properties.name

        return Object.assign({}, entry, { Name })
      })
    }
  },
  watch: {
    getGeo (geoCode) {
      if (!geoCode) {
        return
      }
      this.empty = true

      this.center = geoCode.geometry.coordinates.reverse()
      this.$emit('actuMap', this.center, 12)
    },
    search (val) {
      if (!val) return
      this.isLoading = true
      axios
        .get("https://api.traveltimeapp.com/v4/geocoding/search?query=" + val, this.config)
        .then(response => (this.geocodingRequest = response.data.features))
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
      this.valid = true
    }
  },
  created () {
    this.setAxios()
  },
  mounted () {

  },

  methods: {
    validate () {
      if (!this.getGeo) {
        this.valid = false
        return
      }
      if (this.$refs.form.validate()) {
        this.snackbar = true
        var timeMin = 30
        switch (this.time) {
          case 0: timeMin = 15
            break
          case 1: timeMin = 30
            break
          case 2: timeMin = 45
            break
          case 3: timeMin = 60
            break
          case 4: timeMin = 75
            break
          case 5: timeMin = 90
        }
        this.getData(this.center[0], this.center[1], timeMin * 60)

      }

    },
    test () {
      var data = 'recId|prox\n'
      var index = 1
      for (var i = 0; i < this.latLngArray.length; i++) {
        for (var j = 0; j < this.latLngArray[i].length; j++) {
          data = data + index + '|' + this.latLngArray[i][j].join() + ',100\n'
          index++
        }
      }
      console.log(data)
    },
    setAxios () {
      this.config = {
        headers: {
          "X-Application-Id": this.appID,
          "X-Api-key": this.APIKey,
          "Content-Type": "application/json"
        }
      }
    },
    getData (lat, lng, time) {
      this.isSearching = true
      this.$emit('sendLoader', true)
      let data = {
        departure_searches: [
          {
            id: "public transport from Trafalgar Square",
            coords: {
              lat: lat,
              lng: lng
            },
            transportation: {
              type: this.defaultSelected
            },
            departure_time: new Date(),
            travel_time: time
          }
        ],
        arrival_searches: []
      }
      axios
        .post("https://api.traveltimeapp.com/v4/time-map", data, this.config)
        .then(response => (this.latMap = response.data.results[0].shapes))
        .finally(() => (this.empty = false,
          this.$emit('getLats', this.latMap, false)))
    },
    async tryGet () {

    },

    async findCities () {
      this.$emit('sendLoader', true)
      //this.$geocoder.send(latLngObj, response => { console.log(response) })
      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      }
      /*
      var data = 'recId|prox\n'
      var index = 1
      for (var i = 0; i < this.latLngArray.length; i++) {
        for (var j = 0; j < this.latLngArray[i].length; j++) {
          data = data + index + '|' + this.latLngArray[i][j].join() + ',100\n'
          index++
        }
      }
      await axios.post('https://batch.geocoder.api.here.com/6.2/jobs?&app_code=0UEAA9DazFnbuitN1GKgNA&app_id=7RcuVNlOuhOXPFvxp2XF&action=run&header=true&indelim=%7C&outdelim=%7C&outcols=city%2CpostalCode&outputCombined=false&mode=retrieveAddresses&language=fr-FR', data, config)
        .then(response => (this.res = response.data.Response.MetaInfo.RequestId))
        .catch(error => console.log(error))
      await console.log(this.res)

      const JSZip = require("jszip")
      const delay = require('delay')
      while (this.queryStatus != 'completed') {
        await axios.get('https://batch.geocoder.api.here.com/6.2/jobs/' + this.res + '?action=status&app_code=0UEAA9DazFnbuitN1GKgNA&app_id=7RcuVNlOuhOXPFvxp2XF').then(response => this.queryStatus = response.data.Response.Status).catch(error => console.log(error))
        console.log(this.queryStatus)
        await delay(3001)
      }
      /*
      var resTmp = await fetch('https://batch.geocoder.api.here.com/6.2/jobs/' + this.res + '/result?app_id=7RcuVNlOuhOXPFvxp2XF&app_code=0UEAA9DazFnbuitN1GKgNA')       // 1) fetch the url
        .then(function (response) {                       // 2) filter on 200 OK
          if (response.status === 200 || response.status === 0) {
            return Promise.resolve(response.blob())
          } else {
            return Promise.reject(new Error(response.statusText))
          }
        })
        .then(JSZip.loadAsync)                            // 3) chain with the zip promise
        .then(function (zip) {
          var array = zip.file(/result/)
          return zip.file(array[0].name).async("string") // 4) chain with the text content promise
        })
        .then(function success (text) {
          return text                   // 5) display the resultm
        }, function error (e) {
          console.log(e)
        })

      var arrayTmp = resTmp.split('\n')
      var res = []
      var counts = {}
      for (var i = 0; i < arrayTmp.length; i++) {
        this.postalCods[i] = arrayTmp[i].split('|')[4]
        var city = arrayTmp[i].split('|')[3]
        if (!this.cityName.includes(city)) {
          this.cityName.push(city)
        }
      }
      this.postalCods.forEach(function (x) { counts[x] = (counts[x] || 0) + 1 }) */
      //this.countsPostCods=counts
      this.countsPostCods = { "75001": 1024, "75003": 999, "75004": 1050, "75005": 980, "75006": 1000, "75007": 1070, "75008": 1024, "75011": 1024, "75009": 1024, "75010": 1024, "75002": 1030, "75012": 373, "75013": 238, "75014": 244, "75015": 896, "75016": 300, "75017": 409, "75018": 565, "75019": 802, "75020": 1024, "75116": 315, "92000": 290, "92110": 58, "92120": 192, "92130": 84, "92160": 100, "92170": 32, "92200": 435, "92240": 30, "92270": 100, "92300": 418, "92330": 52, "92340": 168, "92400": 291, "92600": 219, "92700": 150, "92800": 255, "93100": 143, "93120": 210, "93160": 28, "93200": 306, "93210": 156, "93260": 95, "93300": 166, "93310": 9, "93330": 17, "93350": 36, "93360": 67, "93380": 70, "93400": 75, "93450": 5, "93500": 292, "93700": 143, "94110": 295, "94120": 345, "94130": 68, "94160": 43, "94170": 30, "94200": 313, "94220": 81, "94230": 96, "94250": 109, "94270": 117, "94300": 146, "94360": 98, "94400": 143, "94800": 418 }
      this.CP = Object.keys(this.countsPostCods)
      this.onlyCounts = Object.values(this.countsPostCods)
      this.minCount = Math.min(...this.onlyCounts)
      this.maxCount = Math.max(...this.onlyCounts)
      this.boundaries = this.boundaries.filter(word => this.CP.includes(word.properties.ID))
      this.cityName = this.boundaries.map(word => [word.properties.LIB, word.properties.ID])
      this.cityCP = []
      for (var i = 0; i < this.cityName.length; i++) {
        this.cityCP[i] = { 'city': this.cityName[i][0], 'postalCode': this.cityName[i][1] }
      }
      console.log(this.cityCP)
      const delay = require('delay')

      await delay(3000)
      await this.$emit('getCP', this.countsPostCods, this.minCount, this.maxCount, this.boundaries, this.CP, false)

      //  await axios.get('https://batch.geocoder.api.here.com/6.2/jobs/'+this.res+'/result?app_id=7RcuVNlOuhOXPFvxp2XF&app_code=0UEAA9DazFnbuitN1GKgNA').then(response => this.dataRes = response).catch(error => console.log(error))
    },
    sendCities () {
      console.log(this.$store.state.count)
      console.log(this.cityCP)
      this.$store.dispatch('removeTv', this.cityCP)
      console.log(JSON.parse(window.localStorage.getItem('cityCP')))



    }

  }
}
</script>
<style>
@import "/src/assets/style.css";
</style>
