<template>
  <v-app class="grey lighten-3">
    <v-toolbar class="amber darken-4">
      <v-avatar
        tile
        size="48"
      >
        <img
          :src="require('@/assets/palmtree.png')"
          alt="LOGO"
        >
      </v-avatar>
      <v-toolbar-title class="white--text">
        HeavenFinder
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          to="/"
          class="white--text"
        >
          Home
        </v-btn>
        <v-btn
          flat
          to="/app"
          class="white--text"
        >
          App
        </v-btn>
        <v-btn
          flat
          to="/houseFinder"
          class="white--text"
        >
          HouseFinder
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>
<script>
export default {
  name: "App",
  data () {
    return {
      //
    }
  }
}
</script>
